<a href="https://colab.research.google.com/github/Prabeen-Raj/100-Days-Of-Coding-Challenge/blob/main/Day%2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1= []
for i in range(0,101):
  if i==88:
    continue
  list1.append(i)

In [ ]:
list1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
list1.count(88)

0

In [ ]:
for j in range(0,int(len(list1)-1)):

  if list1[int(j)] != int(j):
    print(j)
    break

88

In [2]:
a = 5
b = 7
print('Before Swaping')
print('a=',a,'b=',b)
print('')
temp = a
a = b
b = temp
print('After Swaping')
print('a=',a,'b=',b)

Before Swaping
a= 5 b= 7

After Swaping
a= 7 b= 5

In [3]:
a = 5
b = 7
print('Before Swaping')
print('a=',a,'b=',b)
print('')
a,b = b,a
print('After Swaping')
print('a=',a,'b=',b)

Before Swaping
a= 5 b= 7

After Swaping
a= 7 b= 5

In [9]:
def large(nums):
  largest = nums[0]
  for i in nums:
    if i > largest:
      largest = i
  return largest


large_num= [12,4,54,32,56,-52]
large(large_num)

56