<a href="https://colab.research.google.com/github/Prabeen-Raj/100-Days-Of-Coding-Challenge/blob/main/Day%205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
set1 ={1,2,3,4,5,6,7,8}

In [2]:
type(set1)

set

In [3]:
len(set1)

8

In [4]:
for i in set1:
  print(i)

1
2
3
4
5
6
7
8

In [7]:
even = [j for j in set1 if j%2==0]
print(even)

[2, 4, 6, 8]

In [8]:
odd = [k for k in set1 if k%2==1]
print(odd)

[1, 3, 5, 7]

In [10]:
set1.add(9)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
set1.add(10)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
set1.discard(10)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
set1.discard(9)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
set2 = {9,10}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
del set3